div.chartcontainer
{
	line-height: 0px;
}

/* Legend Styles */

.legend {
	padding: 5px;
	font: 10px arial;
}
/* general bar styles */

.area {
	fill: rgb(68, 68, 136);	
}

.bar {
	fill: rgb(68, 68, 136);
}
/* Barchart styles */

.barlabel {
	font-family: arial;
	font-size: 8px;
}
/* Boxplot styles */

.boxplot {
	font: 10px arial;
}

.boxplot line,
.boxplot rect,
.boxplot circle {
	fill: #fff;
	stroke: #000;
	stroke-width: 1px;
}

.boxplot .whisker {
	stroke-dasharray: 3, 3;
}

.boxplot .outlier {
	fill: none;
	stroke: #ccc;
}

.lineplot .line
{
	fill: none;
	stroke:  rgb(68, 68, 136);
	stroke-width: 1px;
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
}

.axis text {
	font-family: arial;
	font-size: 8px;
}

.axislabel
{
	font-family: arial;
	font-weight: bold;
}

table.data td:first-child {
	text-align: right;
}

table.data td {
	padding-left: 3px;
	padding-right: 3px;
	white-space: nowrap;
}

.g-overlay {
  fill: none;
  pointer-events: all;
}
.g-label-value,
.g-label-year
{
	font-size: 10px;
}
